<div>
    <a href={{link}}>{{title}}</a>

    <button class="btn note" data-id="{{_id}}">View Comments</button>
    <button class="btn delete" data-id="{{_id}}">X</button>

    <p>{{summary}}</p>
	
</div>
<hr>